{% extends 'base.html' %}

{% block title %}
    Reservations for {{ gym.name }}
{% endblock %}

{% block content %}
    <main class="container mt-4">
        <h2 class="text-center">Reservations for {{ gym.name }}</h2>
        
        <div class="row">
            {% for reservation in reservations %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ reservation.time_slot|date:"D, M d, Y" }} at {{ reservation.time_slot|time:"H:i" }}</h5>
                        <p class="card-text">Reserved by {{ reservation.resident.username }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No reservations for {{ gym.name }} yet.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}

